[submodule "deps/librealsense"]
	path = deps/librealsense
	url = https://github.com/IntelRealSense/librealsense
[submodule "deps/eigen"]
	path = deps/eigen
	url = https://gitlab.com/libeigen/eigen
[submodule "deps/flann"]
	path = deps/flann
	url = https://github.com/mariusmuja/flann.git
[submodule "deps/qhull"]
	path = deps/qhull
	url = https://github.com/qhull/qhull
[submodule "deps/VTK"]
	path = deps/VTK
	url = https://github.com/Kitware/VTK
[submodule "deps/libusb"]
	path = deps/libusb
	url = https://github.com/libusb/libusb.git
